
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Produto/Inserir">
            <label for="nome">Nome:</label>
            <input id="nome" name="produto.Nome" />

            <label for="preco">Preço:</label>
            <input id="preco" name="produto.Preco" />

            <label for="categoria">Categoria:</label>
            <input id="categoria" name="produto.CategoriaId" />

            <input type="submit" value="Cadastrar"/>
        </form>
    </div>
</body>
</html>
