@model IEnumerable<LojaVictor2.Models.CategoriaProdutos>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <form action="/Produto/Adiciona/" method="post">
            <label for="nome">Nome:</label>
            <input id="nome" name="produto.Nome" />

            <label for="preco">Preço:</label>
            <input id="preco" name="produto.Preco" />

            <label for="categoria">Categoria:</label>
            <select id="categoria" name="produto.CategoriaId">
                @foreach (var categoria in Model )
                {
                    <option value="@categoria.CategoriaId">@categoria.Nome</option>
                }

            </select>
            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
