@model IEnumerable<LojaVictor2.Models.Produto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Produto
                </th>
            </tr>
            @foreach (var produto in Model)
            {
        <tr>
            <td>
                @produto.Id
            </td>
            <td>
                @produto.Nome
            </td>
            <td>
                @produto.Preco
            </td>
            <td>
                @produto.CategoriaId
            </td>
        </tr>
            }

        </table>
    </div>
</body>
</html>
